#swiper body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#swiper  .swiper-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
}

#swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;

}


#swiper{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
#swiper h4{
    margin-top: 205px;
    
}
